<!DOCTYPE html>
<html lang="es">
 
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge ,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="css/style.css">
    <link rel="icon" href="../public/img/favicon.png">
    <script src="https://kit.fontawesome.com/3ca3b444c8.js" crossorigin="anonymous"></script>
    <script src=""></script>
    
    <link href="https://fonts.googleapis.com/css?family=Poppins:600&display=swap" rel="stylesheet">
    <title>Inicio de sesion</title>
   
</head> 

<body>
    <img class="wave" src="img/wave.png">
    <div class="container">
        <div class="img">
            <img src="img/bg.svg">
        </div>
        <div class="login-content">
            <form action="/inicio" method="POST">
                <img src="img/avatar.svg">
                <h2 class="title">Welcome </h2>
                <div class="input-div one">
                    <div class="i"><i class="fas fa-user "></i></div>
                    <div class="div ">
                        <input type="text" name="cedula" id="cedula" class="input" placeholder="Cedula">
                    </div>
                </div>
                <div class="input-div pass">
                    <div class="i"><i class="fas fa-lock"></i></div>
                    <div class="div ">
                        <input type="password" name="contraseña" class="input">
                    </div>
                </div>
                <a href="#">Forgot Password?</a>
                <input type="submit" class="btn" value="Login">
            </form>
        </div>
    </div>
</body>

</html>