<!DOCTYPE html>
<html lang="es">
    <%- include('partials/head'); %>
    <section class="home-section">
        <div class="text">Registro de Votantes</div>
    </section>
   
  </body>
<%- include('partials/pie'); %>
</html>