<div class="wrapper ">
  <div class="sidebar" data-color="black" data-background-color="blue">
    <!--data-color="purple | azure | green | orange | danger"
 data-image tag
-->
    <div class="logo">
      <a href="http://www.creative-tim.com" class="simple-text logo-normal">
        Votaciones ug
      </a>
    </div>
    <% if (rol===2) {%>
      <div class="sidebar-wrapper">
        <ul class="nav">
          <li class="nav-item ">
            <a class="nav-link" href="/">
              <i class="fas fa-chart-bar fa-7x"></i>
              <p>Votaciones</p>
            </a>
          </li>
          <li class="nav-item ">
            <a class="nav-link" href="/estadisticas">
              <i class="fas fa-users-cog"></i>
              <p>Estadísticas</p>
            </a>
          </li>
          <li class="nav-item ">
            <a class="nav-link" href="/logout">
              <i class="fas fa-sign-out-alt"></i>
              <p>Cerrar Session</p>
            </a>
          </li>
        </ul>
      </div>
      <%  } else{ %> 
    <div class="sidebar-wrapper">
      <ul class="nav">
        <li class="nav-item ">
          <a class="nav-link" href="/estadisticas">
            <i class="fas fa-chart-bar fa-7x"></i>
            <p>Estadísticas</p>
          </a>
        </li>
        <li class="nav-item ">
          <a class="nav-link" href="#">
            <i class="fas fa-users-cog"></i>
            <p>Roles</p>
          </a>
        </li>
        <li class="nav-item ">
          <a class="nav-link" href="/candidatos">
            <i class="fas fa-user-tie"></i>
            <p>Candidatos</p>
          </a>
        </li>
        <li class="nav-item ">
          <a class="nav-link" href="/votantes">
            <i class="fas fa-address-card"></i>
            <p>Votantes</p>
          </a>
        </li>
        <li class="nav-item ">
          <a class="nav-link" href="/">
            <i class="fas fa-fist-raised"></i>
            <p>Votar</p>
          </a>
        </li>
        <li class="nav-item ">
          <a class="nav-link" href="/logout">
            <i class="fas fa-sign-out-alt"></i>
            <p>Cerrar Session</p>
          </a>
        </li>
      </ul>
    </div>
    <%  } %> 
  </div>
  <div class="main-panel">
    <!-- Navbar -->
    <nav class="navbar navbar-expand-lg navbar-transparent navbar-absolute fixed-top "><!--Contenido General-->
      <div class="container-fluid"> <!-- Cajas de contenido-->
        <div class="navbar-wrapper"><!--Contenido del titulo-->
          <a class="navbar-brand" href="javascript:;">
            &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp<img src="img/ug.png" width="45"  alt="UG">&nbsp Universidad de Guayaquil
          </a>
        </div>
        <% if (login) {%>
          <div class="dropdown" style="float: right;">
            <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
              <img src="img/avatar.svg" width="30" height="30" alt="iono"> <%= name %>
             </button>
              <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                <li><a class="dropdown-item" href="logout">Cerrar Sesion</a></li>
              </ul>
          </div> 
         <%  } %> 
        <button class="navbar-toggler" type="button" data-toggle="collapse" aria-controls="navigation-index" aria-expanded="false" aria-label="Toggle navigation">
          <span class="sr-only">Toggle navigation</span>
          <span class="navbar-toggler-icon icon-bar"></span>
          <span class="navbar-toggler-icon icon-bar"></span>
          <span class="navbar-toggler-icon icon-bar"></span>
        </button>
        
        
    </div>
  </nav>
    <!-- End Navbar -->


    